<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<SipServer>
		<Port>5060</Port>
		<Password>12345678</Password>
		<ID>34020000002000000001</ID>
		<IP>192.168.116.125</IP>
		<ExternIP>192.168.116.125</ExternIP>
	</SipServer>
	<MediaServer>
		<IP>127.0.0.1</IP>
		<Port>10070</Port>
		<Secret>035c73f7-bb6b-4889-a715-d9eb2d1925cc</Secret>
	</MediaServer>
	<Http>
		<Port>8000</Port>
	</Http>
</Config>