<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<SipServer>
		<Port>5060</Port>
		<Password>12345678</Password>
		<ID>34020000002000000001</ID>
		<IP>192.168.116.126</IP>
		<!---->
		<ExternIP>192.168.116.126</ExternIP>
	</SipServer>
	<MediaServer>
		<IP>127.0.0.1</IP>
		<Port>10080</Port>
		<RtpPort>10000</RtpPort>
		<SinglePortMode>false</SinglePortMode>
		<PlayWait>15</PlayWait>
		<Secret>035c73f7-6666-8888-9999-d9eb2d1925cc</Secret>
	</MediaServer>
	<Http>
		<!--Http服务端口-->
		<Port>8000</Port>
	</Http>
</Config>